.play_section {
  --nav-height: 100px;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 1000;
  height: 100vh;
  display: flex;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  //hidden
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);

  .wrapper {
    width: 100%;
    display: flex;
    height: max-content;
    align-items: center;
    flex-direction: column;

    .nav {
      display: flex;
      width: 100%;
      height: var(--nav-height);
      padding: 0px 2vw;
      align-items: center;
      box-sizing: border-box;
    }
  
    .main {
      gap: 24px;
      width: 950px;
      height: calc(100vh - var(--nav-height));
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 10vh;
      box-sizing: border-box;
      justify-content: center;
    }
  }
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 300ms 300ms;
}

.visible_without_delay {
  transition-delay: 0s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 300ms;
}

@media Only screen and (max-width: 1024px) {
  .play_section {
    .wrapper {
      .main {
        gap: 24px;
        width: 100%;
        height: max-content;
        padding: 0px 32px;
        box-sizing: border-box;
      }
    }
  }
}

@media Only screen and (max-width: 900px) {
  .play_section {
    --nav-height: 90px;

    .wrapper {
      .main {
        justify-content: flex-end;
        flex-direction: column-reverse;
      }
    }
  }
}

@media Only screen and (max-width: 640px) {
  .play_section {
    --nav-height: 80px;

    .main {
      padding: 0px 24px;
    }
  }
}

@media Only screen and (max-width: 450px) {
  .play_section {
    .wrapper {
      .main {
        padding: 0px 12px;
      }
    }
  }
}