:root {
  --primary-color: #0099ff;
  --primary-color-hover: #0099ff;
  --primary-color-active: #009fff99;
  --primary-color-trans: #f5f5ff;
  --primary-color-trans-active: #e5e5ff;

  --nav-height: 72px;
}